* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

/* Global Styles */

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul li {
  list-style: none;
}

/* Navigation Styles */
.navbar {
  width: 100%;
  min-height: 48px;
  max-height: 48px;
  background: #fff;
  padding: 0 24px;

  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-items-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 1s;
}

.nav-item:hover {
  transform: scale(120%);
}

.nav-item > a {
  /* Fonts */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  padding: 12px;
  text-decoration: none;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.nav-item-desktop {
  display: none;
}

/* Modal menu styles */
.modal-container {
  /* Position */
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 2;

  /* Theme */
  background: #6070ff;
  mix-blend-mode: multiply;
  transition: width 0.3s linear;
}

.expanded {
  width: 100%;
  transition: width 0.3s linear;
}

.modal-header {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-nav {
  padding: 0 16px 0 24px;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-section {
  width: 100%;
  height: calc(100% - 48px);
  padding: 14px 28px 8px;

  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item {
  margin-bottom: 40px;
}

.menu-item > a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-decoration: none;
}

.expanded .modal-indicator {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin: 0 auto;
  transition: all 0.3s linear;
}

/* Desktop version of navbar */
@media screen and (min-width: 768px) {
  .navbar {
    min-height: 72px;
    max-height: 72px;
    padding: 0 142px;
  }

  .nav-item-mobile {
    display: none;
  }

  .nav-item-desktop {
    display: flex;
    align-items: center;
  }

  .nav-item-desktop-wrapper {
    display: flex;
    align-items: center;
  }

  .modal-container {
    display: none;
  }
}

.blur-bg {
  filter: blur(6px);
  transition: blur 0.3s linear;
}

/* Header Styles */
.header-section {
  width: 100%;
  min-height: calc(90vh - 48px);
  background: #fff url(../assets/header-shapes\ mobile@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 60px;
  border-bottom-left-radius: 100px;
  margin: 48px 0 0;

  /* header layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  padding: 48px 20px;

  /* header layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 12px 0;
}

#description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

#title-contact {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 12px 0;
}

.icons-wrapper {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.icons-wrapper a {
  margin-right: 20px;
  text-decoration: none;
}

.icons-wrapper a svg path:hover {
  fill: #172b4d;
  transition: fill 0.3s ease-in-out;
}

/* Desktop version of header section */
@media screen and (min-width: 768px) {
  .header-section {
    width: 100%;
    min-height: calc(100vh - 72px);
    background: #fff url(../assets/desktop/Header\ bg@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-bottom-left-radius: 100px;
    margin: 72px 0 114px;
  }

  .header {
    width: 64%;
  }

  #title {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;

    /* animation-name: leftToOnThePlace;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1; */
  }

  @keyframes leftToOnThePlace {
    0% {
      transform: translateX(-2000px);
    }

    100% {
      transform: translateX(0);
    }
  }

  #description {
    font-size: 20px;
    line-height: 28px;

    /* animation-name: rightToOnthePlace;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1; */
  }

  @keyframes rightToOnthePlace {
    0% {
      transform: translateX(2000px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

/* Works Styles */
.works-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 114px 24px 0;

  /* margin-top: 114px; */
}

.card-conntainer {
  width: 100%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 88px;

  /* Card Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-conntainer > img {
  width: 100%;
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-conntainer:last-child {
  margin-bottom: 0;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 12px 0;
}

.card-meta {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
}

.card-meta-item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.muted {
  color: #c1c7d0;
}

.divider {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
  margin: 0 12px;
}

#card-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.card-categories-wrapper {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.card-category {
  background: #ebebff;
  border-radius: 8px;
  margin-right: 8px;
  padding: 4px 12px;

  /* Text style */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-cta-wrapper {
  width: 100%;
  margin: 12px 0;
}

.card-btn {
  background: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;

  /* Text */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396de2;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-btn:hover {
  cursor: pointer;
  background: #396de2;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

/* Works detail modal style */
#project-detail-modal-overlay {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #c1c7d0;
  mix-blend-mode: multiply;
  padding: 16px;
}

#project-detail-modal {
  /* display: none; */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: transparent;
  padding: 50px 16px;
}

/* #project-detail-modal::-webkit-scrollbar,
#project-detail-modal::-webkit-scrollbar-track-piece {
  display: none;
} */

.project-modal-card {
  width: 96%;
  margin: auto;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
}

.project-modal-header {
  display: flex;
  flex-direction: column;
}

.project-modal-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 14px;
}

.project-modal-section {
  width: 100%;
}

.project-modal-section > img {
  width: 100%;
  height: 100%;
  margin: 20px 0 12px;
}

.project-card-cta-wrapper {
  display: flex;
  align-items: center;
}

.project-btn {
  min-width: 142px;
  min-height: 40px;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
}

.project-btn:first-child {
  margin-right: 12px;
}

.project-btn > span {
  margin-right: 13px;
}

.project-modal-info {
  display: flex;
  flex-direction: column;
}

.project-btn > img {
  width: 24px;
  height: 24px;
}

.p-card-title {
  margin: 0;
}

.card-divider {
  width: 100%;
  height: 1px;
  background-color: #ebecf0;
  margin: 20px 0;
}

/* Desktop version of works section */
@media screen and (min-width: 768px) {
  .works-section {
    padding: 0 142px;
  }

  .card-conntainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .flex-reverse {
    flex-direction: row-reverse;
  }

  #order3 {
    order: 3;
  }

  #order4 {
    order: 4;
  }

  #order2 {
    order: 2;
  }

  #order1 {
    order: 1;
  }

  .card-conntainer:hover {
    cursor: pointer;
    outline: 2px solid #a7aeff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .card-content {
    width: 50%;
    padding: 48px;
  }

  .card-conntainer > img {
    width: 50%;
    height: 100%;
  }

  .card-title {
    font-size: 40px;
    line-height: 52px;
  }

  #card-description {
    font-size: 16px;
  }

  .card-meta-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  #project-detail-modal {
    padding: 77px 20px;
  }

  .project-modal-section > img {
    margin: 36px 0 42px;
  }

  .project-modal-card {
    width: 80%;
  }

  .project-modal-info {
    display: flex;
    flex-direction: row;
  }

  .project-card-description {
    padding-bottom: 50px;
  }
}

/* About section styles */
.about-section {
  padding-top: 114px;
}

.about-container {
  background: #fff;
  padding: 114px 24px 24px;
  border-top-right-radius: 100px;
}

#about-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

#about-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.skills-list {
  display: flex;
  flex-direction: column;
  margin: 36px 0;
}

.skills-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 12px;
  cursor: pointer;
}

.skills-list-item > h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.skills-list-item > img {
  padding: 8px;
}

.skills-list-item-divider {
  height: 1px;
  background: #dfe1e6;
}

.languages {
  padding: 12px;
}

.language-item {
  background: #f7f7f9;
  border-radius: 8px;
  padding: 10px 12px;
  margin-bottom: 12px;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.language-item > h5 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 16px;
}

/* Desktop version of about me section */
@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
    padding: 114px 142px;
  }

  #about-content {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 2;
  }

  #skills {
    width: 100%;
    flex-shrink: 1;
    flex-grow: 3;
  }

  .skills-list {
    margin: 0 0 36px 24px;
  }

  .card-cta-wrapper {
    margin: 32px 0 12px;
  }

  .languages {
    display: flex;
  }

  .language-item {
    min-width: 122px;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 12px;
    margin-bottom: 0;
  }

  .language-item > h5 {
    margin-left: 0;
    margin-top: 16px;
  }
}

/* Contact me section styles */
.contact-me-section {
  padding-top: 114px;
  background: #fff;
}

.contact-me-section-container {
  background: #6070ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 22px 0 48px;
  border-top-left-radius: 100px;
}

.contact-me-section-content {
  background: url(../assets/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  background-position-y: 0;
  padding: 48px 24px 0;
  position: relative;
}

.contact-me-section-content > h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  margin: 48px 0 12px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;

  /* Input text style */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  border-radius: 8px;
  border: none;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
textarea:hover,
textarea:focus {
  border: none;
}

input[type="submit"] {
  width: 140px;
  height: 48px;
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
  border: none;

  /* Input text style */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

input[type="submit"]:hover {
  cursor: pointer;
  border: none;
}

.contact-me-section-content > p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin-bottom: 80px;
}

.error {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(216, 0, 12, 1);
  background-color: rgba(255, 186, 186, 1);
  text-align: center;
  padding: 4px 12px;
  margin-bottom: 12px;
  border-radius: 4px;
  display: none;
}

.footer-indicator {
  width: 134px;
  height: 5px;
  position: absolute;
  bottom: 8px;
  left: calc(50% - 68px);
  background: #0d151e;
  border-radius: 10px;
}

/* Desktop version of about me section */
@media screen and (min-width: 768px) {
  .contact-me-section-container {
    padding: 79px 74px 48px;
  }

  .contact-me-section-content {
    width: 100%;
    background: url(../assets/desktop/contact\ form\ background\ shapes@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 100%;
    background-position-y: 0;
    padding: 48px 24px 0;

    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-me-section-content > p {
    max-width: 570px;
  }

  .form-container {
    max-width: 450px;
    align-items: center;
  }

  .footer-indicator {
    display: none;
  }
}
